<!doctype html>
{% load static %}
{% include 'includes/head.html' %}
{%if lng == 'ru'%}

        <!-- Page Title Start -->
        <section class="page-title title-bg8">
            <div class="d-table">
                <div class="d-table-cell">
                    <h2>Личный блог</h2>
                    <ul>
                        <li>
                            <a href="{% url 'home_page' %}">Главная</a>
                        </li>
                        <li>Личный блог</li>
                    </ul>
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->

        <!-- Candidate Details Start -->
        <section class="candidate-details pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="candidate-profile">
                            <img src="{% static 'assets/img/blog1.jpg'%}" alt="candidate image">
                            <h3>Нурбаев М.К.</h3>
                
                            <ul>
                                <li>                                   
                                    <a href="mailto:@gmail.com">
                                        <i class="fa-sharp fa-solid fa-envelope"></i>
                                        @gmail.com
                                    </a>
                                </li>
                            </ul>

                            <div class="candidate-social">
                                <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>  
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="candidate-info-text candidate-experience">
                            <h3>Биография</h3>
                            <p>Нурбаев Молдияр Кылшикулы – председатель Ассоциации газовых предприятий Алматинской области</p>
                            <p>Родился 4 февраля 1950 года в селе Аксу Аксуского района Алматинской области. Имеет высшее образование по специальности «инженер-механик». Работал в различных производственных организациях Алматинской области.</p>
                            <p>Частный предприниматель с 1992 года.</p>
                            <p>С 2001 года учредитель и директор одной из первых частных компаний "Тауекел-Т" в Республике Казахстан по обеспечению населения природным газом, а также по строительству газораспределительных сетей высокого, среднего и низкого давления.</p>
                            <p>С 2001г. – по текущее время за счет собственных средств без привлечения государственных средств, организовал работу по обеспечению природным газом жителей Карасайского, Талгарского, Жамбылского районов Алматинской области и Алатауского, Наурызбайского районов г. Алматы, подключено около 65 000 абонентов, включая коммунально-бытовых потребителей и объектов социальных сфер.</p>
                            <p>Общий стаж работы-51 лет.</p>
                            <p>С 2013 г. является основателем и председателем правления ОЮЛ «Ассоциация газовых хозяйств Алматинской области», в которую входят одиннадцать компаний деятельность которой направлена на повышение производственного потенциала предприятий газовых хозяйств, содействия инновационному развитию, развитию предпринимательства и реализации принципов социально ориентированной экономики в соответствии с комплексной программы газификации Алматинской области.</p>
                            <p>Предприятия, входящие в состав ОЮЛ «Ассоциация газовых хозяйств Алматинской области» имеют в своем составе более 90 высококвалифицированных специалистов, а также более 70 единиц специализированной техники.</p>
                            <p>Ежегодно предприятия, входящие в состав ОЮЛ «Ассоциация газовых хозяйств Алматинской области» уплачивают налоги в государственный бюджет на сумму более 228 миллинов тенге.</p>
                            <p>Организатор и частный инвестор проектов:</p>
                            <ul>
                                <li>«Строительство ГРС (газораспределительной станций) с производительностью 60 000 м3/час на территории газораспределительной станции АГРС – 1 «Орбита» находящегося  Алатауском районе, г. Алматы с выходной линией газопровода высокого давления II – категории до газорегуляторного пункта в п. Алгабас».</li>
                                <li>Строительство газораспределительной станции «ГРС-Тауекел», отвода с «АГРС-Талгар» производительностью 30 000 м3/час для развития газификации Талгарского района, Алматинской области.  </li>
                                <li>Строительство газораспределительной станции «ГРС-Фабричный» в поселке Каргалы, для жителей Жамбылского района.</li>
                            </ul>
                            <p>Реализация данных проектов позволило обеспечить бесперебойное и безаварийное подачу газа населению Карасайского, Талгарского, Жамбылского районов Алматинской области и Алатауского и Наурызбайского района г. Алматы, а также дало возможность перспективное увеличения газифицированных объектов.</p>
                            <p>Нурбаев Молдияр Кылчикович, внес весомый вклад в развитие газификации Республики Казахстан, а также успешно выполняет поручения Главы Государства и Правительства Республики Казахстан по газификации городов, сел, населенных пунктов, а также созданию газовой инфраструктуры для дальнейшей их урбанизации и развития промышленного потенциала.</p>
                            <p>Благодаря преданности своей работе сумел заслужить уважение и авторитет среди населения района, области и республики.</p>
                            <p>За свой долголетний и благотворный труд неоднократно награждался государственными наградами Республики Казахстан.</p>
                        </div>

                        <div class="candidate-info-text candidate-experience">
                            <h3>Награды</h3>
                            
                            <ul>
                                <li>Награжден Указом Президента Республики Казахстан орденом «Парасат»;</li>
                                <li>Награжден Указом Президента Республики Казахстан орденом «Құрмет»;</li>
                                <li>Присвоены звания «Почетный Гражданин» Алматинской области, Карасайского, Аксуйского, Талгарского и Жамбылского районов Алматинской области, сельского округа Таусамалы Карасайского района.</li>
                                <li>Обладатель награды «Алтын жүрек – Золотое Сердце» Республиканского благотворительного проекта за благотворительную деятельность, за особую заботу поддержку многодетных семьей, ветеран Великой Отечественной Войны, участников Афганской войны, пенсионеров, инвалидов, организации милосердия, домов престарелых и детских домов.</li>
                                <li>За выдающиеся заслуги перед Отечеством в области государственного строительства, развития экономики и укрепления международного авторитета Республики Казахстан, а также за исключительные трудовые достижения, которые являются примером подвижничества и высокого общественного служения, решением Оргкомитета Национального бизнес-рейтинга в Республики Казахстан по итогам рейтингования предприятий награжден Медалью «За эффективность в трудовой деятельности» и Орденом «Слава Казахстана».</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--slider-section-->
        <section class="candidate-section ptb-100">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Фотографий</h2>
                </div>

                <div class="slider owl-carousel owl-theme">
                        

                    <div class="condidate-item ">
                        <div class="candidate-img"> 
                            <img src="{% static 'assets/img/5.png' %}" alt="candidate image">
                        </div>
                    </div>
                    <div class="condidate-item">
                        <div class="candidate-img">
                            <img src="{% static 'assets/img/4.png ' %}" alt="candidate image">
                        </div>
                    </div>
                    <div class="condidate-item">
                        <div class="candidate-img"> 
                            <img src="{% static 'assets/img/2.png ' %}" alt="candidate image">
                        </div>
                    </div>
                    <div class="condidate-item">
                        <div class="candidate-img">
                            <img src="{% static 'assets/img/3.png ' %}" alt="candidate image">
                        </div>
                    </div>

            
                </div>
            </div>
        </section>
        
       {%elif lng == 'kz'%}
       
       <!-- Page Title Start -->
        <section class="page-title title-bg8">
            <div class="d-table">
                <div class="d-table-cell">
                    <h2>Жеке блог</h2>
                    <ul>
                        <li>
                            <a href="{% url 'home_page' %}">Басты бет</a>
                        </li>
                        <li>Жеке блог</li>
                    </ul>
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->

        <!-- Candidate Details Start -->
        <section class="candidate-details pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="candidate-profile">
                            <img src="{% static 'assets/img/blog1.jpg'%}" alt="candidate image">
                            <h3>Нурбаев М.К.</h3>
                
                            <ul>
                                <li>                                   
                                    <a href="mailto:@gmail.com">
                                        <i class="fa-sharp fa-solid fa-envelope"></i>
                                        @gmail.com
                                    </a>
                                </li>
                            </ul>

                            <div class="candidate-social">
                                <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                                <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>  
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="candidate-info-text candidate-experience">
                            <h3>Өмірбаяны</h3>
                            <p>Нұрбаев Молдияр Қылшықұлы – Алматы облысы газ шаруашылықтары қауымдастығының төрағасы</p>
                            <p>1950 жылы 4 ақпанда Алматы облысы, Ақсу ауданы, Ақсу ауылында дүниеге келген. Жоғары білімі бар, инженер-механик мамандығы бойынша. Алматы облысындағы әртүрлі өндіріс ұйымдарында жұмыс істеген.</p>
                            <p>1992 жылдан бастап жеке кәсіпкер.</p>
                            <p>2001 жылдан бастап Қазақстан Республикасындағы халықты көгілдір отынмен қамтамасыз ету, сондай-ақ жоғары, орташа және төмен қысымды газ тарату желілерін салумен айналысатын алғашқы жеке меншік компаниялардың бірі «Тәуекел-Т» компаниясының негізін қалаушы және директоры.</p>
                            <p>2001 жылдан бастап – бүгінгі таңда мемлекет қаражатын тартпай өз қаражаты есебінен Алматы облысының Қарасай, Талғар, Жамбыл аудандары мен Алматы қаласының Алатау, Наурызбай аудандарының тұрғындарын көгілдір отынмен қамту жұмыстарын ұйымдастырып, 65 мыңға жуық абонентті коммуналдық тұтынушылар мен әлеуметтік сала объектілерін қоса алғанда, қосылды.</p>
                            <p>Жалпы еңбек өтілі 51 жыл.</p>
                            <p>2013 жылдан бері қызметі газ кәсіпорындарының өндірістік әлеуетін арттыруға, инновациялық дамуды ынталандыруға, кәсіпкерлікті дамытуға және «Алматы облысының газ шаруашылықтары қауымдастығы» АҚ-ның құрылтайшысы және басқарма төрағасы болып табылады. Алматы облысын газдандырудың кешенді бағдарламаларына сәйкес әлеуметтік-бағдарланған экономиканың қағидаттары.</p>
                            <p>«Алматы облысының газ шаруашылығы қауымдастығы» МКҚК құрамына кіретін кәсіпорындарда 90-нан астам жоғары білікті мамандар, сондай-ақ 70-тен астам арнайы техникалар жұмыс істейді.</p>
                            <p>Жыл сайын Алматы облысының газ шаруашылығы қауымдастығына кіретін кәсіпорындар мемлекет бюджетіне 228 миллион теңгеден астам салық төлейді.</p>
                            <p>Жобаларды ұйымдастырушы және жеке инвестор:</p>
                            <ul>
                                <li>«Алматы қаласы, Алатау ауданында орналасқан АГРС - 1 «Орбита» газ тарату стансасының аумағында қуаттылығы 60 000 м3/сағ газ тарату стансасының (газ тарату стансасының) құрылысы жоғары қысымды газ шығару желісімен. Алғабас ауылындағы газ реттеу пунктіне II санаттағы газ құбыры».</li>
                                <li>Алматы облысы Талғар ауданын газдандыруды дамыту үшін қуаттылығы 30 000 м3/сағ «АГДС-Талғар» филиалы «ГДС-Тәуекел» газ тарату станциясының құрылысы.</li>
                                <li>Жамбыл облысының тұрғындары үшін Қарғалы ауылындағы «ГДС-Фабричный» газ тарату стансасының құрылысы.</li>
                            </ul>
                            <p>Бұл жобаларды жүзеге асыру Алматы облысының Қарасай, Талғар, Жамбыл аудандары мен Алматы қаласының Алатау және Наурызбай аудандарының тұрғындарын үздіксіз және апатсыз газбен қамтамасыз етуге мүмкіндік берді, сондай-ақ перспективалық өсімге мүмкіндік берді. газдандырылған объектілерде.</p>
                            <p>Нұрбаев Молдияр Қылшықұлы Қазақстан Республикасын газдандыруды дамытуға елеулі үлес қосты, сондай-ақ Қазақстан Республикасы Мемлекеті мен Үкіметі басшысының қалаларды, ауылдарды, елді мекендерді, сондай-ақ газдандыру жөніндегі тапсырмаларын табысты орындауда. оларды одан әрі урбанизациялау және өнеркәсіптік әлеуетті дамыту үшін газ инфрақұрылымын құру.</p>
                            <p>Өз ісіне берілгендігінің арқасында аудан, облыс, республика тұрғындары арасында құрмет пен беделге ие болды..</p>
                            <p>Ұзақ және игі еңбегі үшін бірнеше рет Қазақстан Республикасының мемлекеттік наградаларымен марапатталған.</p>
                        </div>

                        <div class="candidate-info-text candidate-experience">
                            <h3>Марапаттары</h3>
                            
                            <ul>
                                <li>Қазақстан Республикасы Президентінің Жарлығымен «Парасат» орденімен марапатталған;</li>
                                <li>Қазақстан Республикасы Президентінің Жарлығымен «Құрмет» орденімен марапатталған;</li>
                                <li>Алматы облысының, Алматы облысының Қарасай, Ақсу, Талғар, Жамбыл аудандарының, Қарасай ауданы Таусамалы ауылдық округінің «Құрметті азаматы» атағы берілді.</li>
                                <li>Қайырымдылық қызметі, көп балалы отбасыларға, Ұлы Отан соғысы ардагерлеріне, Ауған соғысына қатысушыларға, зейнеткерлерге, мүгедектерге, қайырымдылық ұйымдарына, қарттар үйлеріне қолдау көрсеткені үшін Республикалық қайырымдылық жобасының «Алтын жүрек – алтын жүрек» сыйлығының иегері. және балалар үйлері.</li>
                                <li>Мемлекеттік құрылыс, экономиканы дамыту және Қазақстан Республикасының халықаралық беделін нығайту саласындағы Отан алдындағы ерекше қызметтері үшін, сондай-ақ жанқиярлық пен жоғары мемлекеттік қызметтің үлгісі болып табылатын ерекше еңбек жетістіктері үшін Қазақстан Республикасындағы Ұлттық бизнес-рейтингті ұйымдастыру комитеті кәсіпорындардың рейтингісінің қорытындысы бойынша «Еңбектегі тиімділігі үшін» медалімен және «Қазақстан Даңқы» орденімен марапатталды.</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--slider-section-->
        <section class="candidate-section ptb-100">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Фотосуреттер</h2>
                </div>

                <div class="slider owl-carousel owl-theme">
                        

                    <div class="condidate-item ">
                        <div class="candidate-img"> 
                            <img src="{% static 'assets/img/5.png' %}" alt="candidate image">
                        </div>
                    </div>
                    <div class="condidate-item">
                        <div class="candidate-img">
                            <img src="{% static 'assets/img/4.png' %}" alt="candidate image">
                        </div>
                    </div>
                    <div class="condidate-item">
                        <div class="candidate-img"> 
                            <img src= "{% static 'assets/img/2.png'%}" alt="candidate image">
                        </div>
                    </div>
                    <div class="condidate-item">
                        <div class="candidate-img">
                            <img src="{% static 'assets/img/3.png'%}" alt="candidate image">
                        </div>
                    </div>

            
                </div>
            </div>
        </section>
       
       {%endif%}
		{% include 'includes/end.html' %}		

        
  	</body>
</html>