<!doctype html>
{% load static %}
{% include 'includes/head.html' %}
{%if lng == 'ru'%}
        <!-- Page Title Start -->
        <section class="page-title title-bg4">
            <div class="d-table">
                <div class="d-table-cell">
                    <h2>Отчеты</h2>
                    <ul>
                        <li>
                            <a href="{% url 'home_page'%}">Главная</a>
                        </li>
                        <li>Отчеты</li>
                    </ul>
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->

        <!-- Job Section End -->   
        <section class="job-style-two job-list-section pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Отчеты, которые отражают успех предприятия</h2>
                    <p>Профессиональные отчеты. Анализируйте, растите, преуспевайте.</p>
                </div>

                <div class="row">
                    {% for i in report %}
                    <div class="col-lg-12">
                        <div class="job-card-two">
                            <div class="row align-items-center">
                                <div class="col-md-1">
                                    <div class="company-logo">
                                        <a href="/media/{{i.file}}"></a>
                                        <img src="{% static 'assets/img/company-logo/10.png'%}" style="margin-bottom: 50%;" alt="logo">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="job-info">
                                        <h3>
                                            <a href="/media/{{i.file}}">{{i.title}}</a>
                                        </h3>
                                        <ul>                                          
                                            <li>
                                                <i class='bx bx-stopwatch' ></i>
                                                {{i.date}}
                                            </li>
                                        </ul>
                                        <span>{{i.member.name}}</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="theme-btn text-end">
                                        <a href="/media/{{i.file}}" class="default-btn" download>
                                            Жүктеу
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                   
                    
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <i class='bx bx-chevrons-left bx-fade-left'></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link active" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class='bx bx-chevrons-right bx-fade-right'></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <!-- Job Section End -->  

        {%elif lng == 'kz'%}

         <!-- Page Title Start -->
         <section class="page-title title-bg4">
            <div class="d-table">
                <div class="d-table-cell">
                    <h2>Есептер</h2>
                    <ul>
                        <li>
                            <a href="{% url 'home_page'%}">Басты бет</a>
                        </li>
                        <li>Есептер</li>
                    </ul>
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->

        <!-- Job Section End -->   
        <section class="job-style-two job-list-section pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Кәсіпорынның жетістігін көрсететін есептер</h2>
                    <p>Кәсіби есептер. Талдаңыз, өсіңіз, жетістікке жетіңіз.</p>
                </div>

                <div class="row">
                    {% for i in report %}
                    <div class="col-lg-12">
                        <div class="job-card-two">
                            <div class="row align-items-center">
                                <div class="col-md-1">
                                    <div class="company-logo">
                                        <a href="/media/{{i.file}}"></a>
                                        <img src="{% static 'assets/img/company-logo/10.png'%}" style="margin-bottom: 50%;" alt="logo">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="job-info">
                                        <h3>
                                            <a href="/media/{{i.file}}">{{i.title}}</a>
                                        </h3>
                                        <ul>                                          
                                            <li>
                                                <i class='bx bx-stopwatch' ></i>
                                                {{i.date}}
                                            </li>
                                        </ul>
                                        <span>{{i.member.name}}</span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="theme-btn text-end">
                                        <a href="/media/{{i.file}}" class="default-btn" download>
                                            Жүктеу
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                    
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                <i class='bx bx-chevrons-left bx-fade-left'></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class='bx bx-chevrons-right bx-fade-right'></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
        <!-- Job Section End -->  

        {%endif%}
        {% include 'includes/end.html' %}		

  	</body>
</html>