{% load static %}

<link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css'%}">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/owl.carousel.min.css'%}">
        <!-- Owl Carousel Theme Default CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/owl.theme.default.min.css'%}">
        <!-- Box Icon CSS-->
        <link rel="stylesheet" href="{%static 'assets/css/boxicon.min.css'%}">
        <!-- Flaticon CSS-->
        <link rel="stylesheet" href="{%static 'assets/fonts/flaticon/flaticon.css'%}">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/magnific-popup.css'%}">
        <link rel="stylesheet" href="{%static 'assets/css/meanmenu.css'%}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
		<!-- Responsive CSS -->
        <link rel="stylesheet" href="{%static 'assets/css/responsive.css'%}">
        <!-- Title CSS -->
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{%static 'assets/img/favicon.png'%}">  

		<link rel="stylesheet" href="{%static 'assets/css/dark.css'%}">